<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facanditu.fcdtandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".FcdtApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.searchresto.SearchRestosActivity"
            android:label="@string/title_activity_search_restos"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.facanditu.fcdtandroid.MainActivity" />
        </activity>
        <activity
            android:name=".screen.restaurant.RestaurantMainActivity"
            android:label="@string/title_activity_restaurant_main"
            android:parentActivityName=".screen.searchresto.SearchRestosActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.searchresto.SearchRestosActivity" />
        </activity>
        <activity
            android:name=".screen.OrderDishesActivity"
            android:label="@string/title_activity_order_dishes" >
        </activity>
        <activity
            android:name=".screen.ShowMenuActivity"
            android:label="@string/title_activity_show_menu" >
        </activity>
    </application>

</manifest>
